footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 1%;
}

.navigatiebalk {
    width: 25%;
}

.registratieText{
    text-align: center;
}

.padding-y{
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.padding-x{
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.padding-r{
    margin-right: 0.9375rem;
}

.hero-section {
    background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}


.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu {
    background-color: #2C3840;
}

.hover-underline-menu .menu a {
    color: #fefefe;
    padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

.product-cards{
    display: flex;
    margin-left: 4%;
    margin-bottom: 25%;
    margin-top: 15%;
 }


.product-card {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.product-card-thumbnail {
    display: block;
    position: relative;
}

.product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
}

.product-card-price {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
}

.product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
}

.product-card-colors {
    display: block;
    margin-top: 0.8rem;
}

.product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
}


.contact-us-section {
    padding: 2rem;
    background: #fefefe;

}

.contact-us-section .contact-us-section-left {
    padding-right: 2rem;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-left {
        border-right: 1px solid #e6e6e6;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.contact-us-section .contact-us-section-right {
    padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-right {
        border-left: 1px solid #e6e6e6;
    }
}

.contact-us-section .contact-us-header {
    margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
    .contact-us-section .contact-us-header {
        font-size: 32px;
    }
}

.contact-us-section .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
    margin-bottom: 1.5rem;
}

.contact-us-form-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
    background: transparent;
    color: #8a8a8a;
}

.contact-us-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5%;
    font-size: 26px;
}

.contact-us-list li a i {
    color: #0a0a0a;

}

.contact-us-list li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: #8a8a8a;
    font-family: 'FontAwesome';
}

.contact-us-list .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
}

.contact-us-list .email::before {
    content: '\f003';
}

.contact-us-list .phone::before {
    content: '\f098';
}

.row medium-unstack{
    display: flex;
}


.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    width:35%;
    margin-left: 33%;
    margin-top: 5%;
}

