footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 1%;
}

.navigatiebalk {
    width: 25%;
    background-color: lime;
}

.registratieText{
    text-align: center;
}

.callout cell small-4 align-self-top{
    max-width: 10%;
}