
.navigatiebalk {
    width: 25%;
}

.registratieText{
    text-align: center;
}

.padding-y{
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.padding-x{
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.padding-r{
    margin-right: 0.9375rem;
}

.hero-section {
    background: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Technovium_Nijmegen.jpg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}


.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu {
    background-color: #2C3840;
}

.hover-underline-menu .menu a {
    color: #fefefe;
    padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

.product-cards{
    display: flex;
    margin-left: 22%;
    margin-bottom: 25%;
    margin-top: 15%;
 }


.product-card {
    background-color: #3c3057;
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.product-card-thumbnail {
    display: block;
    position: relative;
}

.product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
}

.product-card-price {
    color: white;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
}

.product-card-sale {
    color: gray;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
}

.product-card-colors {
    display: block;
    margin-top: 0.8rem;
}

.product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
}


.contact-us-section {
    padding: 2rem;
    /*background: #fefefe;*/

}

.contact-us-section .contact-us-section-left {
    padding-right: 2rem;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-left {
        border-right: 1px solid #e6e6e6;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.contact-us-section .contact-us-section-right {
    padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-right {
        border-left: 1px solid #e6e6e6;
    }
}

.contact-us-section .contact-us-header {
    margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
    .contact-us-section .contact-us-header {
        font-size: 32px;
    }
}

.contact-us-section .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
    margin-bottom: 1.5rem;
}

.contact-us-form{
    margin-bottom: 10%;
}

.contact-us-form-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
    background: transparent;
    color: #8a8a8a;
}

.contact-us-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5%;
    font-size: 26px;
}

.contact-us-list li a i {
    color: #0a0a0a;

}

.contact-us-list li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: #8a8a8a;
    font-family: 'FontAwesome';
}

.contact-us-list .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
}

.contact-us-list .email::before {
    content: '\f003';
}

.contact-us-list .phone::before {
    content: '\f098';
}

.row medium-unstack{
    display: flex;
}

.form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
    width: 35%;
    margin-top: 5%;
    margin-left: 33%;
}

.register-form{
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
    width: 400%;
    height: 60%;
    margin-left: -150%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form h4,
.register-form h4{
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.form label,
.register-form label{
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form input:focus,
.register-form input:focus{
    opacity: .9;
}

.form-email,
.form-password,
.form-username,
.form-date,
.form-city,
.form-token{
    border-radius: 30px;
    border: none;
    opacity: .3;
    transition: all ease .4s;
}

.form-button{
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
    margin-bottom: 5%;
}

.form-button:hover{
    background-color: #44c8ed;
    border-color: #44c8ed;
}

.form-gender input[type=radio]{
    margin-bottom: -10%;
}

.space{
    margin-right: 10.9%;
}

.middle{
    text-align: center;
}


.marketing-site-content-section{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 6%;
}

.marketing-site-content-section .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
    width: 100%;
}

@media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-img {
        -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    }
}

.marketing-site-content-section .marketing-site-content-section-block {
    padding: 1rem;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: #e6e6e6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (min-width: 40em) {
    .marketing-site-content-section .marketing-site-content-section-block {
        -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        padding: 2rem;
    }
}

.marketing-site-content-section-block-header {
    font-size: 24px;
}

.marketing-site-content-section-block-subheader {
    font-size: 13px;
}


.hero-full-screen {
    height: 150vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: url("https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat;
    background-size: cover;
    margin-bottom: 12%;
}

.hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
    margin-left: 33%;
}

.hero-full-screen .top-content-section {
    width: 100%;
}

.hero-full-screen .bottom-content-section {
    padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: black;
}

.hero-full-screen .top-bar {
    background: transparent;
}

.hero-full-screen .top-bar .menu {
    background: transparent;
}

.hero-full-screen .top-bar .menu-text {
    color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
}

#main-content-section{
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}


.multi-step-checkout-process-step {
    margin-top: 20px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 39.9375em) {
    .multi-step-checkout-process-step {
        padding-right: 0rem;
    }
}

.multi-step-checkout-process .accordion-title {
    color: #3e3e3e;
    font-size: 1.25rem;
    transition: color 0.5s ease;
    border: none;
    font-family: 'Droid serif', serif;
}

.multi-step-checkout-process .accordion-title:hover, .multi-step-checkout-process .accordion-title:active, .multi-step-checkout-process .accordion-title:focus {
    color: #242424;
    transition: color 0.5s ease;
    background: none;
}

.multi-step-checkout-process :last-child:not(.is-active) > .accordion-title {
    border: none;
}

.multi-step-checkout-process .accordion-item {
    border-bottom: 1px solid #e6e6e6;
    padding-right: 0.8rem;
}

.multi-step-checkout-process .accordion-item:first-child {
    border-top: 1px solid #e6e6e6;
}

.multi-step-checkout-process .accordion-item.is-active {
    border: 1px solid #e6e6e6;
    border-top: 3px solid #1779ba;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.multi-step-checkout-process .accordion-item .accordion-title {
    font-weight: 400;
}

.multi-step-checkout-process .accordion-item .accordion-title::before {
    right: 0.5rem;
}

.multi-step-checkout-process .accordion-content {
    border: none;
    padding-left: 35px;
}

.multi-step-checkout-process :last-child > .accordion-content:last-child {
    border-bottom: none;
}

.multi-step-checkout-step-title-subheader {
    color: #a4a4a4;
    font-size: 2rem;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Open sans', serif;
}

.multi-step-checkout-step-subheader {
    color: #3e3e3e;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
}

.multi-step-checkout-step-subdesc {
    color: #8a8a8a;
    font-size: 0.9rem;
}

.multi-step-checkout-process input{
    width: 50%;
    margin-left: 25%;
}

.multi-step-checkout-process select {
    width: 50%;
}

.multi-step-checkout-shipping-option {
    margin-bottom: 10px;
}

.multi-step-checkout-step-section {
    border-bottom: 1px dashed #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.multi-step-checkout-shipping-option-selection {
    position: absolute;
    margin-top: 0.2rem;
}

.multi-step-checkout-shipping-option-title {
    display: block;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-left: 1.6rem;
    margin-bottom: 0.8rem;
}

.multi-step-checkout-shipping-option-desc {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-left: 25px;
    margin-top: -10px;
}

.multi-step-checkout-shipping-cost {
    text-align: right;
}

.multi-step-checkout-form-divider {
    border-bottom: 1px dashed #e6e6e6;
}

.multi-step-checkout-form input {
    background: #f8f8f8;
}

.multi-step-checkout-enews-sign-up label {
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.multi-step-checkout-enews-sign-up-checkbox {
    position: absolute;
    margin-top: 0.4rem;
}

.multi-step-checkout-credit-card-info label span {
    color: #a4a4a4;
}

.multi-step-checkout-payment-icons {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1rem;
}

.multi-step-checkout-payment-icons li {
    display: inline;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-list {
    list-style: none;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    color: #8a8a8a;
    font-size: 0.9rem;
}

.multi-step-checkout-billing-address .multi-step-checkout-billing-address-checkbox {
    position: absolute;
    margin-top: 0.4rem;
}

.multi-step-checkout-billing-address label {
    margin-left: 1.5rem;
}

.multi-step-checkout-create-account {
    margin-top: 2rem;
}

@media screen and (max-width: 39.9375em) {
    .multi-step-checkout-create-account {
        margin-top: 0.5rem;
    }
}

.multi-step-checkout-create-account .create-account-desc {
    font-size: 0.9rem;
    color: #8a8a8a;
}

.multi-step-checkout-logo {
    width: 118px;
    height: 38px;
}

.multi-step-checkout-arrow {
    height: 13px;
    width: 13px;
}


.multilevel-accordion-menu .is-accordion-submenu-parent a {
    background: #4d5158;
    width: 250%;
    margin-left: 15%;
    margin-top: 15%;
}

.multilevel-accordion-menu .is-accordion-submenu a {
    background: #35383d;
}

.multilevel-accordion-menu .sublevel-1 {
    text-indent: 1rem;

}

.multilevel-accordion-menu .sublevel-2 {
    text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
    text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
    text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
    text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
    text-indent: 6rem;
}

.multilevel-accordion-menu a {
    color: #fefefe;
    box-shadow: inset 0 -1px #41444a;
}

.multilevel-accordion-menu a::after {
    border-color: #fefefe transparent transparent;
}

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
    padding: 1.2rem 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
    font-family: FontAwesome;
    margin-right: 1rem;
    width: 100%;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a::before {
    font-family: FontAwesome;
    margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a::before {
    font-family: FontAwesome;
    margin-right: 1rem;
}

.row select{
    margin-left: 25%;
}

footer {
    text-align: center;
    background-color: #3c3057;
    /*position: static;*/
    bottom: 0;
    width: 100%;
    position: relative;
    height: 65px;
    /*height: 1%;*/
}

main {
    min-height: 100vh;
}


.form-registration {
    background: #fefefe;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-registration .form-registration-img {
    position: relative;
}

.form-registration .form-registration-img .form-registration-img-caption {
    position: absolute;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(254, 254, 254, 0.3)), color-stop(0, #fefefe));
    color: black;
}

.form-registration-group {
    padding: 1rem;
}

.form-registration-group .form-registration-input {
    border-radius: 0;
}

.form-registration-group .form-registration-input:focus {
    border: 2px solid #1779ba;
    box-shadow: 0 0 5px #1779ba;
}

.form-registration-group .form-registration-submit-button {
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5000px;
}

[data-whatinput='mouse'] .form-registration-group .form-registration-submit-button {
    outline: 0;
}

.form-registration-group .form-registration-submit-button:hover, .form-registration-group .form-registration-submit-button:focus {
    background-color: #126195;
    color: #fefefe;
}

.form-registration-group .form-registration-social-button {
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3b5998;
    color: #3b5998;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5000px;
}

[data-whatinput='mouse'] .form-registration-group .form-registration-social-button {
    outline: 0;
}

.form-registration-group .form-registration-social-button, .form-registration-group .form-registration-social-button:hover, .form-registration-group .form-registration-social-button:focus {
    background-color: transparent;
}

.form-registration-group .form-registration-social-button:hover, .form-registration-group .form-registration-social-button:focus {
    border-color: #1e2d4c;
    color: #1e2d4c;
}

.form-registration-group .form-registration-social-button .fa {
    vertical-align: text-top;
    margin-right: 0.5rem;
}

.form-registration-group .form-registration-member-signin {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #0a0a0a;
}

.form-registration-group .form-registration-member-signin a {
    margin-left: 0.25rem;
    color: #0a0a0a;
}

.form-registration-group .form-registration-member-signin a:hover {
    margin-left: 0.25rem;
    color: #8a8a8a;
}

.form-registration-group .form-registration-terms {
    text-align: center;
    font-size: 12px;
    }

.form-registration-group .form-registration-terms a:first-child {
    margin-right: 0.25rem;
    color: #0a0a0a;
}

.form-registration-group .form-registration-terms a:first-child:hover {
    margin-right: 0.25rem;
    color: #8a8a8a;
}

.form-registration-group .or-divider {
    position: relative;
    margin: 1.5rem 0px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 0px;
    border: 1px solid #e6e6e6;
}

.form-registration-group .or-divider span {
    color: #8a8a8a;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -12px;
    background-color: #fefefe;
    padding: 0 8px;
}

.textlayout{
    border: #0a0a0a;
    border-width: 2px;
    border-bottom-style: dashed;
    margin-left: 100px;
    margin-right: 100px;
}

.rubriek{
    width: 10%;
}
.subrubriek{
    max-width: 100%;
}


.alert-box {
    padding-right: 3.25rem;
    width: 100%;
}

.alert-box.callout {
    color: #fefefe;
    font-weight: bold;
}

.alert-box.alert {
    border: 3px solid #cc4b37;
    border-radius: 5px;
    background-color: rgba(204, 75, 55, 0.2);
}

.alert-box.warning {
    border: 3px solid #ffae00;
    border-radius: 5px;
    background-color: rgba(255, 174, 0, 0.2);
}

.alert-box.success {
    border: 3px solid #3adb76;
    border-radius: 5px;
    background-color: rgba(58, 219, 118, 0.2);
}

.alert-box.info {
    border: 3px solid #1779ba;
    border-radius: 5px;
    background-color: rgba(23, 121, 186, 0.2);
}

.alert-box i {
    border: 2px solid #fefefe;
    border-radius: 50%;
    padding: .3em .325em;
    margin-right: 0.5rem;
}

.alert-box .close-button {
    color: rgba(254, 254, 254, 0.5);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    font-weight: bold;
}

#map {
    height: 100%;
}